web/DAIHARD.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. -->
<definitions targetNamespace="http://dai/" name="DAI_HARD" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://dai/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://dai/" schemaLocation="DAIHARD_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="US232">
    <part name="parameters" element="tns:US232"/>
  </message>
  <message name="US232Response">
    <part name="parameters" element="tns:US232Response"/>
  </message>
  <message name="US13">
    <part name="parameters" element="tns:US13"/>
  </message>
  <message name="US13Response">
    <part name="parameters" element="tns:US13Response"/>
  </message>
  <message name="US31">
    <part name="parameters" element="tns:US31"/>
  </message>
  <message name="US31Response">
    <part name="parameters" element="tns:US31Response"/>
  </message>
  <message name="US32">
    <part name="parameters" element="tns:US32"/>
  </message>
  <message name="US32Response">
    <part name="parameters" element="tns:US32Response"/>
  </message>
  <message name="US231">
    <part name="parameters" element="tns:US231"/>
  </message>
  <message name="US231Response">
    <part name="parameters" element="tns:US231Response"/>
  </message>
  <message name="US11">
    <part name="parameters" element="tns:US11"/>
  </message>
  <message name="US11Response">
    <part name="parameters" element="tns:US11Response"/>
  </message>
  <message name="US33">
    <part name="parameters" element="tns:US33"/>
  </message>
  <message name="US33Response">
    <part name="parameters" element="tns:US33Response"/>
  </message>
  <message name="US34">
    <part name="parameters" element="tns:US34"/>
  </message>
  <message name="US34Response">
    <part name="parameters" element="tns:US34Response"/>
  </message>
  <message name="US21">
    <part name="parameters" element="tns:US21"/>
  </message>
  <message name="US21Response">
    <part name="parameters" element="tns:US21Response"/>
  </message>
  <message name="US12">
    <part name="parameters" element="tns:US12"/>
  </message>
  <message name="US12Response">
    <part name="parameters" element="tns:US12Response"/>
  </message>
  <message name="US22">
    <part name="parameters" element="tns:US22"/>
  </message>
  <message name="US22Response">
    <part name="parameters" element="tns:US22Response"/>
  </message>
  <message name="US221">
    <part name="parameters" element="tns:US221"/>
  </message>
  <message name="US221Response">
    <part name="parameters" element="tns:US221Response"/>
  </message>
  <message name="US222">
    <part name="parameters" element="tns:US222"/>
  </message>
  <message name="US222Response">
    <part name="parameters" element="tns:US222Response"/>
  </message>
  <message name="US413">
    <part name="parameters" element="tns:US413"/>
  </message>
  <message name="US413Response">
    <part name="parameters" element="tns:US413Response"/>
  </message>
  <message name="US421">
    <part name="parameters" element="tns:US421"/>
  </message>
  <message name="US421Response">
    <part name="parameters" element="tns:US421Response"/>
  </message>
  <message name="US351">
    <part name="parameters" element="tns:US351"/>
  </message>
  <message name="US351Response">
    <part name="parameters" element="tns:US351Response"/>
  </message>
  <message name="US412">
    <part name="parameters" element="tns:US412"/>
  </message>
  <message name="US412Response">
    <part name="parameters" element="tns:US412Response"/>
  </message>
  <message name="US414">
    <part name="parameters" element="tns:US414"/>
  </message>
  <message name="US414Response">
    <part name="parameters" element="tns:US414Response"/>
  </message>
  <message name="US411">
    <part name="parameters" element="tns:US411"/>
  </message>
  <message name="US411Response">
    <part name="parameters" element="tns:US411Response"/>
  </message>
  <message name="US422">
    <part name="parameters" element="tns:US422"/>
  </message>
  <message name="US422Response">
    <part name="parameters" element="tns:US422Response"/>
  </message>
  <message name="US431">
    <part name="parameters" element="tns:US431"/>
  </message>
  <message name="US431Response">
    <part name="parameters" element="tns:US431Response"/>
  </message>
  <message name="US432">
    <part name="parameters" element="tns:US432"/>
  </message>
  <message name="US432Response">
    <part name="parameters" element="tns:US432Response"/>
  </message>
  <message name="US441">
    <part name="parameters" element="tns:US441"/>
  </message>
  <message name="US441Response">
    <part name="parameters" element="tns:US441Response"/>
  </message>
  <message name="US442">
    <part name="parameters" element="tns:US442"/>
  </message>
  <message name="US442Response">
    <part name="parameters" element="tns:US442Response"/>
  </message>
  <message name="US45">
    <part name="parameters" element="tns:US45"/>
  </message>
  <message name="US45Response">
    <part name="parameters" element="tns:US45Response"/>
  </message>
  <message name="US511">
    <part name="parameters" element="tns:US511"/>
  </message>
  <message name="US511Response">
    <part name="parameters" element="tns:US511Response"/>
  </message>
  <message name="US512">
    <part name="parameters" element="tns:US512"/>
  </message>
  <message name="US512Response">
    <part name="parameters" element="tns:US512Response"/>
  </message>
  <message name="US521">
    <part name="parameters" element="tns:US521"/>
  </message>
  <message name="US521Response">
    <part name="parameters" element="tns:US521Response"/>
  </message>
  <message name="US522">
    <part name="parameters" element="tns:US522"/>
  </message>
  <message name="US522Response">
    <part name="parameters" element="tns:US522Response"/>
  </message>
  <message name="US523">
    <part name="parameters" element="tns:US523"/>
  </message>
  <message name="US523Response">
    <part name="parameters" element="tns:US523Response"/>
  </message>
  <message name="US5311">
    <part name="parameters" element="tns:US5311"/>
  </message>
  <message name="US5311Response">
    <part name="parameters" element="tns:US5311Response"/>
  </message>
  <message name="US5312">
    <part name="parameters" element="tns:US5312"/>
  </message>
  <message name="US5312Response">
    <part name="parameters" element="tns:US5312Response"/>
  </message>
  <message name="US5313">
    <part name="parameters" element="tns:US5313"/>
  </message>
  <message name="US5313Response">
    <part name="parameters" element="tns:US5313Response"/>
  </message>
  <message name="US541">
    <part name="parameters" element="tns:US541"/>
  </message>
  <message name="US541Response">
    <part name="parameters" element="tns:US541Response"/>
  </message>
  <message name="US542">
    <part name="parameters" element="tns:US542"/>
  </message>
  <message name="US542Response">
    <part name="parameters" element="tns:US542Response"/>
  </message>
  <message name="US5611">
    <part name="parameters" element="tns:US5611"/>
  </message>
  <message name="US5611Response">
    <part name="parameters" element="tns:US5611Response"/>
  </message>
  <message name="US5612">
    <part name="parameters" element="tns:US5612"/>
  </message>
  <message name="US5612Response">
    <part name="parameters" element="tns:US5612Response"/>
  </message>
  <message name="US5613">
    <part name="parameters" element="tns:US5613"/>
  </message>
  <message name="US5613Response">
    <part name="parameters" element="tns:US5613Response"/>
  </message>
  <message name="US5614">
    <part name="parameters" element="tns:US5614"/>
  </message>
  <message name="US5614Response">
    <part name="parameters" element="tns:US5614Response"/>
  </message>
  <message name="US5621">
    <part name="parameters" element="tns:US5621"/>
  </message>
  <message name="US5621Response">
    <part name="parameters" element="tns:US5621Response"/>
  </message>
  <message name="US5622">
    <part name="parameters" element="tns:US5622"/>
  </message>
  <message name="US5622Response">
    <part name="parameters" element="tns:US5622Response"/>
  </message>
  <message name="US5623">
    <part name="parameters" element="tns:US5623"/>
  </message>
  <message name="US5623Response">
    <part name="parameters" element="tns:US5623Response"/>
  </message>
  <message name="US5631">
    <part name="parameters" element="tns:US5631"/>
  </message>
  <message name="US5631Response">
    <part name="parameters" element="tns:US5631Response"/>
  </message>
  <message name="US5632">
    <part name="parameters" element="tns:US5632"/>
  </message>
  <message name="US5632Response">
    <part name="parameters" element="tns:US5632Response"/>
  </message>
  <message name="US571">
    <part name="parameters" element="tns:US571"/>
  </message>
  <message name="US571Response">
    <part name="parameters" element="tns:US571Response"/>
  </message>
  <message name="US5721">
    <part name="parameters" element="tns:US5721"/>
  </message>
  <message name="US5721Response">
    <part name="parameters" element="tns:US5721Response"/>
  </message>
  <message name="US5722">
    <part name="parameters" element="tns:US5722"/>
  </message>
  <message name="US5722Response">
    <part name="parameters" element="tns:US5722Response"/>
  </message>
  <message name="US5731">
    <part name="parameters" element="tns:US5731"/>
  </message>
  <message name="US5731Response">
    <part name="parameters" element="tns:US5731Response"/>
  </message>
  <message name="US5732">
    <part name="parameters" element="tns:US5732"/>
  </message>
  <message name="US5732Response">
    <part name="parameters" element="tns:US5732Response"/>
  </message>
  <message name="US5741">
    <part name="parameters" element="tns:US5741"/>
  </message>
  <message name="US5741Response">
    <part name="parameters" element="tns:US5741Response"/>
  </message>
  <message name="US5742">
    <part name="parameters" element="tns:US5742"/>
  </message>
  <message name="US5742Response">
    <part name="parameters" element="tns:US5742Response"/>
  </message>
  <message name="US5743">
    <part name="parameters" element="tns:US5743"/>
  </message>
  <message name="US5743Response">
    <part name="parameters" element="tns:US5743Response"/>
  </message>
  <portType name="DAI_HARD">
    <operation name="US232">
      <input wsam:Action="http://dai/DAI_HARD/US232Request" message="tns:US232"/>
      <output wsam:Action="http://dai/DAI_HARD/US232Response" message="tns:US232Response"/>
    </operation>
    <operation name="US13">
      <input wsam:Action="http://dai/DAI_HARD/US13Request" message="tns:US13"/>
      <output wsam:Action="http://dai/DAI_HARD/US13Response" message="tns:US13Response"/>
    </operation>
    <operation name="US31">
      <input wsam:Action="http://dai/DAI_HARD/US31Request" message="tns:US31"/>
      <output wsam:Action="http://dai/DAI_HARD/US31Response" message="tns:US31Response"/>
    </operation>
    <operation name="US32">
      <input wsam:Action="http://dai/DAI_HARD/US32Request" message="tns:US32"/>
      <output wsam:Action="http://dai/DAI_HARD/US32Response" message="tns:US32Response"/>
    </operation>
    <operation name="US231">
      <input wsam:Action="http://dai/DAI_HARD/US231Request" message="tns:US231"/>
      <output wsam:Action="http://dai/DAI_HARD/US231Response" message="tns:US231Response"/>
    </operation>
    <operation name="US11">
      <input wsam:Action="http://dai/DAI_HARD/US11Request" message="tns:US11"/>
      <output wsam:Action="http://dai/DAI_HARD/US11Response" message="tns:US11Response"/>
    </operation>
    <operation name="US33">
      <input wsam:Action="http://dai/DAI_HARD/US33Request" message="tns:US33"/>
      <output wsam:Action="http://dai/DAI_HARD/US33Response" message="tns:US33Response"/>
    </operation>
    <operation name="US34">
      <input wsam:Action="http://dai/DAI_HARD/US34Request" message="tns:US34"/>
      <output wsam:Action="http://dai/DAI_HARD/US34Response" message="tns:US34Response"/>
    </operation>
    <operation name="US21">
      <input wsam:Action="http://dai/DAI_HARD/US21Request" message="tns:US21"/>
      <output wsam:Action="http://dai/DAI_HARD/US21Response" message="tns:US21Response"/>
    </operation>
    <operation name="US12">
      <input wsam:Action="http://dai/DAI_HARD/US12Request" message="tns:US12"/>
      <output wsam:Action="http://dai/DAI_HARD/US12Response" message="tns:US12Response"/>
    </operation>
    <operation name="US22">
      <input wsam:Action="http://dai/DAI_HARD/US22Request" message="tns:US22"/>
      <output wsam:Action="http://dai/DAI_HARD/US22Response" message="tns:US22Response"/>
    </operation>
    <operation name="US221">
      <input wsam:Action="http://dai/DAI_HARD/US221Request" message="tns:US221"/>
      <output wsam:Action="http://dai/DAI_HARD/US221Response" message="tns:US221Response"/>
    </operation>
    <operation name="US222">
      <input wsam:Action="http://dai/DAI_HARD/US222Request" message="tns:US222"/>
      <output wsam:Action="http://dai/DAI_HARD/US222Response" message="tns:US222Response"/>
    </operation>
    <operation name="US413">
      <input wsam:Action="http://dai/DAI_HARD/US413Request" message="tns:US413"/>
      <output wsam:Action="http://dai/DAI_HARD/US413Response" message="tns:US413Response"/>
    </operation>
    <operation name="US421">
      <input wsam:Action="http://dai/DAI_HARD/US421Request" message="tns:US421"/>
      <output wsam:Action="http://dai/DAI_HARD/US421Response" message="tns:US421Response"/>
    </operation>
    <operation name="US351">
      <input wsam:Action="http://dai/DAI_HARD/US351Request" message="tns:US351"/>
      <output wsam:Action="http://dai/DAI_HARD/US351Response" message="tns:US351Response"/>
    </operation>
    <operation name="US412">
      <input wsam:Action="http://dai/DAI_HARD/US412Request" message="tns:US412"/>
      <output wsam:Action="http://dai/DAI_HARD/US412Response" message="tns:US412Response"/>
    </operation>
    <operation name="US414">
      <input wsam:Action="http://dai/DAI_HARD/US414Request" message="tns:US414"/>
      <output wsam:Action="http://dai/DAI_HARD/US414Response" message="tns:US414Response"/>
    </operation>
    <operation name="US411">
      <input wsam:Action="http://dai/DAI_HARD/US411Request" message="tns:US411"/>
      <output wsam:Action="http://dai/DAI_HARD/US411Response" message="tns:US411Response"/>
    </operation>
    <operation name="US422">
      <input wsam:Action="http://dai/DAI_HARD/US422Request" message="tns:US422"/>
      <output wsam:Action="http://dai/DAI_HARD/US422Response" message="tns:US422Response"/>
    </operation>
    <operation name="US431">
      <input wsam:Action="http://dai/DAI_HARD/US431Request" message="tns:US431"/>
      <output wsam:Action="http://dai/DAI_HARD/US431Response" message="tns:US431Response"/>
    </operation>
    <operation name="US432">
      <input wsam:Action="http://dai/DAI_HARD/US432Request" message="tns:US432"/>
      <output wsam:Action="http://dai/DAI_HARD/US432Response" message="tns:US432Response"/>
    </operation>
    <operation name="US441">
      <input wsam:Action="http://dai/DAI_HARD/US441Request" message="tns:US441"/>
      <output wsam:Action="http://dai/DAI_HARD/US441Response" message="tns:US441Response"/>
    </operation>
    <operation name="US442">
      <input wsam:Action="http://dai/DAI_HARD/US442Request" message="tns:US442"/>
      <output wsam:Action="http://dai/DAI_HARD/US442Response" message="tns:US442Response"/>
    </operation>
    <operation name="US45">
      <input wsam:Action="http://dai/DAI_HARD/US45Request" message="tns:US45"/>
      <output wsam:Action="http://dai/DAI_HARD/US45Response" message="tns:US45Response"/>
    </operation>
    <operation name="US511">
      <input wsam:Action="http://dai/DAI_HARD/US511Request" message="tns:US511"/>
      <output wsam:Action="http://dai/DAI_HARD/US511Response" message="tns:US511Response"/>
    </operation>
    <operation name="US512">
      <input wsam:Action="http://dai/DAI_HARD/US512Request" message="tns:US512"/>
      <output wsam:Action="http://dai/DAI_HARD/US512Response" message="tns:US512Response"/>
    </operation>
    <operation name="US521">
      <input wsam:Action="http://dai/DAI_HARD/US521Request" message="tns:US521"/>
      <output wsam:Action="http://dai/DAI_HARD/US521Response" message="tns:US521Response"/>
    </operation>
    <operation name="US522">
      <input wsam:Action="http://dai/DAI_HARD/US522Request" message="tns:US522"/>
      <output wsam:Action="http://dai/DAI_HARD/US522Response" message="tns:US522Response"/>
    </operation>
    <operation name="US523">
      <input wsam:Action="http://dai/DAI_HARD/US523Request" message="tns:US523"/>
      <output wsam:Action="http://dai/DAI_HARD/US523Response" message="tns:US523Response"/>
    </operation>
    <operation name="US5311">
      <input wsam:Action="http://dai/DAI_HARD/US5311Request" message="tns:US5311"/>
      <output wsam:Action="http://dai/DAI_HARD/US5311Response" message="tns:US5311Response"/>
    </operation>
    <operation name="US5312">
      <input wsam:Action="http://dai/DAI_HARD/US5312Request" message="tns:US5312"/>
      <output wsam:Action="http://dai/DAI_HARD/US5312Response" message="tns:US5312Response"/>
    </operation>
    <operation name="US5313">
      <input wsam:Action="http://dai/DAI_HARD/US5313Request" message="tns:US5313"/>
      <output wsam:Action="http://dai/DAI_HARD/US5313Response" message="tns:US5313Response"/>
    </operation>
    <operation name="US541">
      <input wsam:Action="http://dai/DAI_HARD/US541Request" message="tns:US541"/>
      <output wsam:Action="http://dai/DAI_HARD/US541Response" message="tns:US541Response"/>
    </operation>
    <operation name="US542">
      <input wsam:Action="http://dai/DAI_HARD/US542Request" message="tns:US542"/>
      <output wsam:Action="http://dai/DAI_HARD/US542Response" message="tns:US542Response"/>
    </operation>
    <operation name="US5611">
      <input wsam:Action="http://dai/DAI_HARD/US5611Request" message="tns:US5611"/>
      <output wsam:Action="http://dai/DAI_HARD/US5611Response" message="tns:US5611Response"/>
    </operation>
    <operation name="US5612">
      <input wsam:Action="http://dai/DAI_HARD/US5612Request" message="tns:US5612"/>
      <output wsam:Action="http://dai/DAI_HARD/US5612Response" message="tns:US5612Response"/>
    </operation>
    <operation name="US5613">
      <input wsam:Action="http://dai/DAI_HARD/US5613Request" message="tns:US5613"/>
      <output wsam:Action="http://dai/DAI_HARD/US5613Response" message="tns:US5613Response"/>
    </operation>
    <operation name="US5614">
      <input wsam:Action="http://dai/DAI_HARD/US5614Request" message="tns:US5614"/>
      <output wsam:Action="http://dai/DAI_HARD/US5614Response" message="tns:US5614Response"/>
    </operation>
    <operation name="US5621">
      <input wsam:Action="http://dai/DAI_HARD/US5621Request" message="tns:US5621"/>
      <output wsam:Action="http://dai/DAI_HARD/US5621Response" message="tns:US5621Response"/>
    </operation>
    <operation name="US5622">
      <input wsam:Action="http://dai/DAI_HARD/US5622Request" message="tns:US5622"/>
      <output wsam:Action="http://dai/DAI_HARD/US5622Response" message="tns:US5622Response"/>
    </operation>
    <operation name="US5623">
      <input wsam:Action="http://dai/DAI_HARD/US5623Request" message="tns:US5623"/>
      <output wsam:Action="http://dai/DAI_HARD/US5623Response" message="tns:US5623Response"/>
    </operation>
    <operation name="US5631">
      <input wsam:Action="http://dai/DAI_HARD/US5631Request" message="tns:US5631"/>
      <output wsam:Action="http://dai/DAI_HARD/US5631Response" message="tns:US5631Response"/>
    </operation>
    <operation name="US5632">
      <input wsam:Action="http://dai/DAI_HARD/US5632Request" message="tns:US5632"/>
      <output wsam:Action="http://dai/DAI_HARD/US5632Response" message="tns:US5632Response"/>
    </operation>
    <operation name="US571">
      <input wsam:Action="http://dai/DAI_HARD/US571Request" message="tns:US571"/>
      <output wsam:Action="http://dai/DAI_HARD/US571Response" message="tns:US571Response"/>
    </operation>
    <operation name="US5721">
      <input wsam:Action="http://dai/DAI_HARD/US5721Request" message="tns:US5721"/>
      <output wsam:Action="http://dai/DAI_HARD/US5721Response" message="tns:US5721Response"/>
    </operation>
    <operation name="US5722">
      <input wsam:Action="http://dai/DAI_HARD/US5722Request" message="tns:US5722"/>
      <output wsam:Action="http://dai/DAI_HARD/US5722Response" message="tns:US5722Response"/>
    </operation>
    <operation name="US5731">
      <input wsam:Action="http://dai/DAI_HARD/US5731Request" message="tns:US5731"/>
      <output wsam:Action="http://dai/DAI_HARD/US5731Response" message="tns:US5731Response"/>
    </operation>
    <operation name="US5732">
      <input wsam:Action="http://dai/DAI_HARD/US5732Request" message="tns:US5732"/>
      <output wsam:Action="http://dai/DAI_HARD/US5732Response" message="tns:US5732Response"/>
    </operation>
    <operation name="US5741">
      <input wsam:Action="http://dai/DAI_HARD/US5741Request" message="tns:US5741"/>
      <output wsam:Action="http://dai/DAI_HARD/US5741Response" message="tns:US5741Response"/>
    </operation>
    <operation name="US5742">
      <input wsam:Action="http://dai/DAI_HARD/US5742Request" message="tns:US5742"/>
      <output wsam:Action="http://dai/DAI_HARD/US5742Response" message="tns:US5742Response"/>
    </operation>
    <operation name="US5743">
      <input wsam:Action="http://dai/DAI_HARD/US5743Request" message="tns:US5743"/>
      <output wsam:Action="http://dai/DAI_HARD/US5743Response" message="tns:US5743Response"/>
    </operation>
  </portType>
  <binding name="DAI_HARDPortBinding" type="tns:DAI_HARD">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="US232">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US13">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US31">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US32">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US231">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US11">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US33">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US34">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US21">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US12">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US22">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US221">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US222">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US413">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US421">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US351">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US412">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US414">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US411">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US422">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US431">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US432">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US441">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US442">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US45">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US511">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US512">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US521">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US522">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US523">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5311">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5312">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5313">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US541">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US542">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5611">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5612">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5613">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5614">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5621">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5622">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5623">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5631">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5632">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US571">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5721">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5722">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5731">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5732">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5741">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5742">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="US5743">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DAI_HARD">
    <port name="DAI_HARDPort" binding="tns:DAI_HARDPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

